<div class="container mt-5">
    <table class="table">
        <thead class="thead-dark">
          <tr>
              <th scope="col">Numbers</th>
              <th scope="col">Names</th>
              <th scope="col">Ages</th>
              <th scope="col">Level</th>
              <th scope="col">Contacts</th>
              <th scope="col">ID</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Kwedi</td>
            <td>25</td>
            <td>5</td>
            <td>691253632</td>
            <td>123456789</td>
          </tr>
    </table>
</div>