<div class="container mt-5">
    <!-- <div>
      <h1> <input type="text" class="text" id="formName" name="name" [(ngModel)]="student.name" #data="ngModel" placeholder="Student name" readonly></h1><hr>
    </div>
    <div>
      <h4>Age <input type="number" class="form-control" id="formAge" name="age" [(ngModel)]="student.age" #data="ngModel" placeholder="Student age" readonly></h4>
    </div>
    <br>
    <div>
      <h4>Level <input type="text" class="form-control" id="formLevel" name="level" [(ngModel)]="student.level" #data="ngModel" readonly></h4>
    </div>
    <br>
    <div>
      <h4>Contact <input type="number" class="form-control" id="formContact" name="contact" [(ngModel)]="student.contact" #data="ngModel" placeholder="Student Phone" readonly></h4>
    </div> -->

    <div>
      <h1>{{student.name}}</h1>
      <hr>
      <h2>Age: {{student.age}} </h2><br>
     <h2>Age: {{student.level}} </h2><br>
     <h2>Age: {{student.contact}} </h2><br>
    </div>
</div>